language: d

env:
  - ASAN_OPTIONS=detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:detect_leaks=1:verbosity=2

matrix:
  include:
    - d: dmd
      script:
        - dub test -b unittest-cov -c unittest-safe
        - dub test -b -c unittest-compat
        - git clone https://github.com/aliak00/ddox-dark-theme.git
        - mv ddox-dark-theme/docs .
        - dub build -b ddox
      addons:
        apt:
          packages:
          - libevent-dev
          - libssl-dev
          - pkg-config
          - zlib1g-dev
      after_success: bash <(curl -s https://codecov.io/bash)

      deploy:
        local_dir: docs
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        on:
          branch: master

      cache:
        directories:
          - $HOME/.dub

    - d: dmd
      os: osx
      script:
        - dub test -b -c unittest-safe
        - dub test -b -c unittest-compat
    - d: ldc
      os: osx
      script:
        - dub test -c unittest-safe -- -t 1
    - d: ldc
      script:
        - dub test -c unittest-safe -- -t 1